*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;

}

body{
    color: #ededed;
    background: #081b29;

}

.main-container{
width: 100%;
max-width: 1800px;
margin: 0 auto;
font-size: 1em;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

.logo{
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;

}

.navbar a{
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .6s;

}

.navbar a:hover,
.navbar a.active
{
    color: #00abf0;
    background: #081b29;

}

.home{
    width: 545px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;

}



.home-content h1{
    display: flex;
    align-items: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;


}

.home-content h3{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 33px;
    font-weight: 700;
    color: #00abf0;

}

.home-content p{
    font-size: 20px;
    margin: 20px 0 40px;

}

.home-content .btn-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.btn-box a{
    position: relative;
    display: inline-flex;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 19px;
    color: #081b29;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;



}

.btn-box a:hover {
    color: #00abf0;

}

.btn-box a:nth-child(2) {
    background: transparent;
    color: #00abf0;

}

.btn-box a:nth-child(2):hover{
    color: #081b29;
}

.btn-box a:nth-child(2)::before{
    background: #00abf0;

}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before{
    width: 100%;

}

.home-sci{
    color: #00abf0;
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;


}

.home-sci a{
    position: relative;
    display: inline-flex;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow: hidden;

    
}

.home-sci a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: .5s;

}

.home-sci a:hover::before{
    width: 100%;
}

